<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pagination" th:align="center">
    <nav aria-label="Page navigation example">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <button type="button" class="btn btn-outline-info" id="totalElements">共 0 条</button>
            </div>
            <div class="col-md-auto">
                <select class="custom-select" id="size">
                    <option value="5">5条/页</option>
                    <option value="10">10条/页</option>
                    <option value="15" selected>15条/页</option>
                    <option value="20">20条/页</option>
                </select>
            </div>
            <div class="col-md-3 text-truncate">
                <ul class="pagination">
                    <li class="page-item" id="First"><a class="page-link" href="#"> << </a></li>
                    <li class="page-item" id="Previous"><a class="page-link" href="#"> < </a></li>

                    <input type="number" id="page" class="form-control" style="width: 50px">

                    <li class="page-item" id="Next"><a class="page-link" href="#"> > </a></li>
                    <li class="page-item" id="Last"><a class="page-link" href="#"> >> </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>