<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
    <title>Layout page</title>
</head>
<body>
<div layout:fragment="content">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;"></div>
    <script type="text/javascript">
        $(function () {

            var height =  $(window).height() -115;;
            $("#main").css("height" , height);

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            $.get('incomeECharts/findEChartsData', function (data) {
                myChart.setOption(option = {
                    title: {
                        text: '消费 温度计'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        data: data.map(function (item) {
                            return item[0];
                        })
                    },
                    yAxis: {
                        splitLine: {
                            show: false
                        }
                    },
                    toolbox: {
                        left: 'center',
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    dataZoom: [{
                        startValue: '2014-06-01'
                    }, {
                        type: 'inside'
                    }],
                    visualMap: {
                        top: 10,
                        right: 10,
                        pieces: [{
                            gt: 0,
                            lte: 2000,
                            color: '#ffde33'
                        }, {
                            gt: 2000,
                            lte: 2500,
                            color: '#ff9933'
                        }, {
                            gt: 2500,
                            lte: 3000,
                            color: '#cc0033'
                        }],
                        outOfRange: {
                            color: '#7e0023'
                        }
                    },
                    series: {
                        name: '消费 温度计',
                        type: 'line',
                        data: data.map(function (item) {
                            return item[1];
                        }),
                        markLine: {
                            silent: true,
                            data: [{
                                yAxis: 2000
                            }, {
                                yAxis: 2500
                            }, {
                                yAxis: 3000
                            }]
                        }
                    }
                });
            });
        })
    </script>
</div>
</body>
</html>